<%= render 'form' %>

<p>
  <%= link_to t('actions.quizzes.all'), quizzes_path %>
</p>
<p>
  <%= link_to t('actions.quizzes.destroy'), quiz_path(@quiz),  method: :delete, data: { confirm: "Are you sure?" } %>
</p>
