<nav class="bg-gray-800 navbar navbar-expand-lg shadow-md py-2  relative flex items-center w-full justify-between">
  <div class="navbar-collapse collapse grow items-center" id="navbarSupportedContentY">
    <ul class="navbar-nav mr-auto lg:flex lg:flex-row">
      <li class="nav-item">
        <%= link_to t("home"), root_path, class:"nav-link block pr-2 lg:px-2 py-2 text-gray-100 hover:text-gray-400 focus:text-gray-700 transition duration-150 ease-in-out" %>
      </li>
      <li class="nav-item">
        <%= link_to t("about"), root_path, class:"nav-link block pr-2 lg:px-2 py-2 text-gray-100 hover:text-gray-400 focus:text-gray-700 transition duration-150 ease-in-out" %>
      </li>
    </ul>
  </div>
</nav>
